<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homepage</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/default-homepage.css">
</head>
<body>
    <div>
        <div>projectDir: {{ projectDir }}</div>
        <div>app.name: {{ appName }}</div>
        <div>app.version: {{ appVersion }}</div>
        <div>app.env: {{ appEnv }}</div>
    </div>
    <div>
        <div><span id="test-css">This is test css.</span></div>
        <div id="test-js">#test-js</div>
    </div>

    <!-- js -->
    <script src="/js/default-homepage.js"></script>
</body>
</html>